.header {
    position: relative; /* Ensure a positioning context */
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    right: 160px;
    left: 0;
    height: 2px;
    background-color: gray;
  }
  