.filterAndDisplay {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.filter {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}
.filter span {
  padding: 5px 0;
  text-align: center;
  width: 100px;
  display: inline-block;
  background-color: #e2dede;
  color: black;
  cursor: pointer;
  font-size: 12px;
}
.filter .active {
  background-color: #a5c3eb;
}

.RegisterUser {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #00011c80;
  z-index: 9999999;
}

.forms {
  width: 80%;
  height: 95%;
  background-color: #f7f7f7;
  margin: auto;
  border-radius: 5px;
  margin-top: 15px;
  overflow: auto;
}
.forms::-webkit-scrollbar {
  width: 10px;
}

.forms::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.forms::-webkit-scrollbar-thumb {
  background: #3035a1;
}
.headhere {
  text-align: center;
  width: 90%;
  margin: auto;
}
@media (max-width: 850px) {
  .forms {
    width: 95%;
  }
}
