.footer{
    background-color: var(  --main-color );
   color: white;
}

.footer a{
    color: white  !important;
}

@media only screen and (max-width: 900px) {
    .x-sm{
        width: 33.33333%  !important;
    }

    .footer a {
        font-size: 12px;
    }

    .para{
        font-size: 12px;

    }
    
}
