@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-text {
    @apply text-[27px] leading-[33px] font-[500]  text-[#dc3545];
  }
  .text-danger {
    @apply text-[#dc3545];
  }
  .privite-news-header {
    @apply text-[500] text-[20px] leading-[24px];
  }

  .form-control {
    @apply bg-white appearance-none border  border-[#dee2e6] rounded-[0.375rem]
     text-[#212529] block text-base font-normal leading-6 p-2 w-full transition 
     duration-150 ease-in-out  focus:border-[#86b7fe]
       focus:outline-none focus:shadow-[0_0_0_.25rem_#0d6efd40];
  }
  .btn {
    @apply inline-block py-1.5 px-3 text-base font-normal leading-6 text-center bg-transparent text-inherit border rounded cursor-pointer transition-colors duration-150 ease-in-out;
  }
  .btn-primary {
    @apply hover:text-[#fff]  inline-block py-1.5 px-3 text-base font-normal leading-6 text-center text-white bg-blue-600 border border-blue-600 rounded cursor-pointer transition-colors duration-150 ease-in-out hover:bg-blue-500 hover:border-blue-400;
  }
  .btn-secondary {
    @apply bg-[#6c757d] text-[#fff] border border-[#6c757d];
  }
  .btn-success {
    @apply text-white bg-green-600 border border-green-600 hover:bg-green-700 hover:border-green-700 focus:ring focus:ring-green-300 active:bg-green-700 active:border-green-700 disabled:bg-green-600 disabled:border-green-600 transition duration-150;
  }
  .btn-danger {
    @apply text-[#fff] bg-[#dc3545] border border-[#dc3545] hover:bg-[#bb2d3b] hover:border-[#b02a37] 
    focus:ring focus:ring-red-300 active:bg-red-700 active:border-red-700 disabled:bg-[#dc3545] disabled:border-[#dc3545] transition duration-150;
  }
  .btn-outline-success {
    @apply text-green-600 border border-green-600 hover:text-white hover:bg-green-600 focus:ring focus:ring-green-300 disabled:text-green-600 
    disabled:bg-transparent disabled:border-green-600 transition duration-150;
  }
  .mb-4 {
    @apply mb-[1.5rem_!important];
  }
  .g-3 {
    @apply mb-[1.5rem_!important];
  }
  .gy-3 {
    @apply mb-[1.5rem_!important];
  }
  .row {
    @apply flex  flex-wrap flex-row mx-[-0.75rem] mt-[-1rem];
  }

  .alert {
    @apply text-[14px] leading-[21px] relative bg-transparent border border-gray-300 rounded text-inherit  mr-[5px] mt-[5px] py-[5px] mb-4;
  }
  .alert-secondary {
    @apply relative bg-gray-200 border border-[#c4c8cb] rounded text-gray-800 text-[#2b2f32]  mb-4;
  }
  .alertthemself {
    @apply text-sm mx-auto p-1 w-4/5;
  }
  .alert-success {
    @apply bg-[#d1e7dd] border border-[#a3cfbb] text-[#0a3622];
  }
  .bg-danger {
    @apply bg-[#dc3545];
  }

  .bg-primary {
    @apply bg-[#0d6efd];
  }
  .gimg {
    @apply md:h-[450px];
  }
  .slide-image {
    @apply rounded-[50%];
  }
  .datedSlider {
    @apply text-[12px] ml-[-20px] text-[gray];
  }
  .lastSlider {
    @apply overflow-y-auto max-h-[500px];
  }
  .aoomedia {
    @apply w-[90%] border-b-[#777] border;
  }
  .datedetails {
    @apply text-[13px_!important];
  }
  .small {
    @apply text-[8px];
  }
  .inputSearchDashboard {
    @apply w-1/2;
  }
  .datedSingle {
    @apply text-[12px_!important] text-[gray];
  }
  .datedSlider {
    @apply text-[12px_!important] text-[gray] ml-[-20px];
  }
}

:root {
  --main-color: #131434;
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: "Cairo", sans-serif !important;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}
.header {
  position: relative; /* Ensure a positioning context */
}
.active {
  background-color: #d0e2fb;
  border-radius: 15px;
  color: #0d3a5a !important;
}
.add {
  border: none;
  padding: 2px 25px;
  border-radius: 20px;
}
.headDashboard {
  background-color: #0d3a5a;
  padding: 10px 20px 15px 0;
  color: white;
  transform: translateY(20px);
  font-size: 14px;
  height: 45px;
}
.headDashboard span {
  width: 14px;
  height: 14px;
}
@media (max-width: 900px) {
  .headDashboard p {
    font-size: 10px;
  }
}
.header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  right: 160px;
  left: 0;
  height: 2px;
  background-color: gray;
}

input[type="file"] {
  display: none;
}
.alert {
  margin-right: auto;
  margin-left: auto;

  padding: 5px;
}
select {
  border: 1px solid #e8e5e5;
  border-radius: 5px;
  outline: none;
  padding: 2px !important;
}
.lastSlider::-webkit-scrollbar {
  width: 10px;
}
.lastSlider1 {
  overflow-y: auto;
  max-height: 700px;
}
.lastSlider1::-webkit-scrollbar {
  width: 10px;
}

.lastSlider1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.lastSlider1::-webkit-scrollbar-thumb {
  background: rgb(188, 90, 90);
}
.lastSlider::-webkit-scrollbar-thumb {
  background: #bc5a5a;
}
.lastSlider::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.slick-next:before,
.slick-prev:before {
  color: #000 !important;
  font-size: 30px !important;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
td,
th {
  width: fit-content;
}
table {
  width: 100%;
  margin: 30px auto auto;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
th {
  color: #2c3d76;
}
tr,
td,
th {
  padding: 7px 0;
  font-size: 13px;
}
@media (max-width: 900px) {
  tr,
  td,
  th {
    padding: 7px 0;
    font-size: 8px;
  }

  .header::after {
    right: 90px !important;
  }
}
th {
  background-color: rgb(215, 212, 212);
}
table td,
th {
  text-align: center;
}
td {
  /* background-color: rgb(215, 212, 212); */
  color: #212529;
}
tr {
  margin: 7px 0;
}

tr:nth-child(2n) {
  background-color: #e8e7e7;
}
.containerTable {
  max-height: 350px;
  overflow-y: auto;
}

.containerTable::-webkit-scrollbar {
  width: 10px;
}

.containerTable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.containerTable::-webkit-scrollbar-thumb {
  background: #454de0;
}
.customfileupload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  width: 100%;
  font-size: 10px !important;
  transform: translateY(-5px);
}
.alerthemself {
  width: 80%;
  padding: 5px !important;
  margin: auto;
  transform: translateY(30px);
  font-size: 14px;
}
.error {
  font-size: 10px;
  color: red;
}
.demonstrations p,
.regime p,
.martyrs p,
.detainees p {
  font-size: 25px;
}
.btu {
  /* have to delete and replace it with btn */
  background-color: #ffbaba;
  font-size: 15px;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 0 10px;
  transform: translateY(-5px);
}
@media (max-width: 600px) {
  .gh {
    width: 90% !important;
  }
}
@media (max-width: 800px) {
  .note {
    font-size: 12px !important;
  }
}

@media (max-width: 800px) {
  .iop {
    flex-direction: column !important;
    align-items: end;
  }
}

.small {
  font-size: 8px;
}
/* header styles */

.header-container {
  position: relative;
  text-align: center;
}

.perantHeader {
  height: 400px;
}
.perantHeader img {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.015);
}

.perantpar {
  font-family: Cairo;
  width: 70%;
  margin-top: 1%;
  font-weight: 400;
  line-height: 29.98px;
}
.head-btn {
  padding: 0px, 47px, 0px, 47px;
  background-color: #8f0101;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 75%;
  width: 146px;
  height: auto;
  margin-top: 9px;
}

@media only screen and (max-width: 992px) {
  .head-btn {
    margin-top: 0;
  }
}
.perantparhead {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  text-align: right;
  color: white;
  line-height: 1.8;
}
@media (max-width: 800px) {
  .perantparhead {
    width: 100%;
  }
}
.head-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 0;
  object-fit: cover;
}

.wantedscroll::-webkit-scrollbar {
  width: 10px;
}

.wantedscroll::-webkit-scrollbar-thumb {
  background: #3035a1;
}
.wantedscroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.notification::after {
  background-color: red;
  border: 2px solid #fff;
  border-radius: 50%;
  content: "";
  height: 12px;
  position: absolute;
  right: -1px;
  top: 10px;
  width: 12px;
}

.notification-body .new p::before {
  border-radius: 50px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
.notification-body .new p::before {
  background-color: #f009;
}
/* btn disabled */

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  opacity: 0.65;
  pointer-events: none;
}
.revelotionactive {
  @apply text-black cursor-pointer inline-block text-[15px] ml-[1px] p-[5px_0] text-center w-[100px];
}
.textervolution {
  @apply border-0 h-[150px] placeholder:text-[10px] text-[16px];
}
.btnsrevloution {
  @apply flex gap-[10px] justify-center my-5;
}
.contentrevloution {
  @apply flex flex-col gap-[10px] w-full;
}
.inputrevloution {
  @apply flex flex-col gap-2 w-[45%];
}
.containerinputrevloution {
  @apply flex justify-between mb-[20px] mt-[20px];
}
.alretrevlotion {
  @apply bg-gray-200 text-gray-800 border border-gray-300 rounded  text-[14px] m-auto p-[5px] translate-y-[30px] w-[80%];
}
.successrevlotion {
  @apply bg-green-100 text-green-800 border border-green-300 rounded p-[5px]  text-[14px] m-auto  translate-y-[30px] w-[80%];
}
.addrevloution {
  @apply border-none rounded-[20px] p-[2px_25px];
}
.plachoderevloution {
  @apply placeholder:text-[10px] text-[16px];
}
.fileuploadrevlotion {
  @apply bg-white border border-gray-300 rounded cursor-pointer inline-block text-[10px] p-[7px] px-[10px] translate-y-[-5px] w-full;
}
.martyrs table {
  margin: 30px auto auto;
  text-align: center;
  width: 100%;
}
.martyrs th,
.martyrs tr,
.martyrs th {
  border: 0 solid;
  border-color: inherit;
  padding: 7px 0;
}
.martyrs tr {
  font-size: 13px;
  background-color: #d7d4d4;
}

@media (max-width: 800px) {
  .note {
    font-size: 12px !important;
  }
}

@media (max-width: 800px) {
  .iop {
    flex-direction: column !important;
    align-items: end;
  }
}

@media (max-width: 700px) {
  .inputSearchDashboard {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .aoomedia {
    flex-direction: column;
  }
}
