@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-text {
    @apply text-[27px] leading-[33px] font-[500]  text-[#dc3545];
  }
  .text-danger {
    @apply text-[#dc3545];
  }
  .privite-news-header {
    @apply text-[500] text-[20px] leading-[24px];
  }

  .form-control {
    @apply bg-white appearance-none border  border-[#dee2e6] rounded-[0.375rem]
     text-[#212529] block text-base font-normal leading-6 p-2 w-full transition 
     duration-150 ease-in-out  focus:border-[#86b7fe]
       focus:outline-none focus:shadow-[0_0_0_.25rem_#0d6efd40];
  }
  .btn {
    @apply inline-block py-1.5 px-3 text-base font-normal leading-6 text-center bg-transparent text-inherit border rounded cursor-pointer transition-colors duration-150 ease-in-out;
  }
  .btn-primary {
    @apply hover:text-[#fff]  inline-block py-1.5 px-3 text-base font-normal leading-6 text-center text-white bg-blue-600 border border-blue-600 rounded cursor-pointer transition-colors duration-150 ease-in-out hover:bg-blue-500 hover:border-blue-400;
  }
  .btn-secondary {
    @apply bg-[#6c757d] text-[#fff] border border-[#6c757d];
  }
  .btn-success {
    @apply text-white bg-green-600 border border-green-600 hover:bg-green-700 hover:border-green-700 focus:ring focus:ring-green-300 active:bg-green-700 active:border-green-700 disabled:bg-green-600 disabled:border-green-600 transition duration-150;
  }
  .btn-outline-success {
    @apply text-green-600 border border-green-600 hover:text-white hover:bg-green-600 focus:ring focus:ring-green-300 disabled:text-green-600 
    disabled:bg-transparent disabled:border-green-600 transition duration-150;
  }
  .mb-4 {
    @apply mb-[1.5rem_!important];
  }
  .g-3 {
    @apply mb-[1.5rem_!important];
  }
  .gy-3 {
    @apply mb-[1.5rem_!important];
  }
  .row {
    @apply flex  flex-wrap flex-row mx-[-0.75rem] mt-[-1rem];
  }

  .alert {
    @apply text-[14px] leading-[21px] relative bg-transparent border border-gray-300 rounded text-inherit  mr-[5px] mt-[5px] py-[5px] mb-4;
  }
  .alert-secondary {
    @apply relative bg-gray-200 border border-[#c4c8cb] rounded text-gray-800 text-[#2b2f32]  mb-4;
  }
  .alertthemself {
    @apply text-sm mx-auto p-1 w-4/5;
  }
  .alert-success {
    @apply bg-[#d1e7dd] border border-[#a3cfbb] text-[#0a3622];
  }
  .bg-danger {
    @apply bg-[#dc3545];
  }
  .gimg {
    @apply md:h-[450px];
  }
  .slide-image {
    @apply rounded-[50%];
  }
  .datedSlider {
    @apply text-[12px] ml-[-20px] text-[gray];
  }
  .lastSlider {
    @apply overflow-y-auto max-h-[500px];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cairo", serif;
  direction: rtl;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}
.header {
  position: relative; /* Ensure a positioning context */
}

.header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  right: 160px;
  left: 0;
  height: 2px;
  background-color: gray;
}

input[type="file"] {
  display: none;
}
.alert {
  margin-right: auto;
  margin-left: auto;

  padding: 5px;
}
select {
  border: 1px solid #e8e5e5;
  border-radius: 5px;
  outline: none;
  padding: 2px !important;
}
.lastSlider::-webkit-scrollbar {
  width: 10px;
}

.lastSlider::-webkit-scrollbar-thumb {
  background: #bc5a5a;
}
.lastSlider::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.lastSlider1::-webkit-scrollbar {
  width: 10px;
}

.lastSlider1::-webkit-scrollbar-thumb {
  background: #bc5a5a;
}
.lastSlider1::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.slick-next:before,
.slick-prev:before {
  color: #000 !important;
  font-size: 30px !important;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
td,
th {
  width: fit-content;
}
table {
  margin: 30px auto auto;
  text-align: center;
  width: 100%;
}
th {
  color: #2c3d76;
  font-size: 13px;
  padding: 7px 0;
}
td {
  color: #212529;
  font-size: 13px;
  padding: 7px 0;
}
tr {
  margin: 7px 0;
}
/* header styles */

.header-container {
  position: relative;
  text-align: center;
}

.perantHeader {
  height: 400px;
}
.perantHeader img {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.015);
}

.perantpar {
  font-family: Cairo;
  width: 70%;
  margin-top: 1%;
  font-weight: 400;
  line-height: 29.98px;
}
.head-btn {
  padding: 0px, 47px, 0px, 47px;
  background-color: #8f0101;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 75%;
  width: 146px;
  height: auto;
  margin-top: 9px;
}

@media only screen and (max-width: 992px) {
  .head-btn {
    margin-top: 0;
  }
}
.perantparhead {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  text-align: right;
  color: white;
  line-height: 1.8;
}
@media (max-width: 800px) {
  .perantparhead {
    width: 100%;
  }
}
.head-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 0;
  object-fit: cover;
}

.wantedscroll::-webkit-scrollbar {
  width: 10px;
}

.wantedscroll::-webkit-scrollbar-thumb {
  background: #3035a1;
}
.wantedscroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.notification::after {
  background-color: red;
  border: 2px solid #fff;
  border-radius: 50%;
  content: "";
  height: 12px;
  position: absolute;
  right: -1px;
  top: 10px;
  width: 12px;
}

.notification-body .new p::before {
  border-radius: 50px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
.notification-body .new p::before {
  background-color: #f009;
}
/* btn disabled */

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  opacity: 0.65;
  pointer-events: none;
}
.revelotionactive{
  @apply text-black cursor-pointer inline-block text-[15px] ml-[1px] p-[5px_0] text-center w-[100px]
}
.textervolution{
  @apply border-0 h-[150px] placeholder:text-[10px] text-[16px]
}
.btnsrevloution{
  @apply flex gap-[10px] justify-center my-5
}
.contentrevloution{
  @apply flex flex-col gap-[10px] w-full
}
.inputrevloution{
  @apply flex flex-col gap-2 w-[45%]
}
.containerinputrevloution{
  @apply flex justify-between mb-[20px] mt-[20px]
}
.alretrevlotion{
 @apply bg-gray-200 text-gray-800 border border-gray-300 rounded  text-[14px] m-auto p-[5px] translate-y-[30px] w-[80%]
}
.successrevlotion{
  @apply bg-green-100 text-green-800 border border-green-300 rounded p-[5px]  text-[14px] m-auto  translate-y-[30px] w-[80%]
}
.addrevloution{
  @apply border-none rounded-[20px] p-[2px_25px]
}
.plachoderevloution{
  @apply placeholder:text-[10px] text-[16px]
}
.fileuploadrevlotion {
  @apply bg-white border border-gray-300 rounded cursor-pointer inline-block text-[10px] p-[7px] px-[10px] translate-y-[-5px] w-full
}