@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cairo", serif;
  direction: rtl;
}
.lastSlider1::-webkit-scrollbar {
  width: 10px;
}

.lastSlider1::-webkit-scrollbar-thumb {
  background: #bc5a5a;
}
.lastSlider1::-webkit-scrollbar-track {
  background: #f1f1f1;
}