.social-icons {
  background-color: #3035a1;
  font-size: 1.125rem;
  border-radius: 5px;
  position: absolute;
  left: 80px;
  bottom: 5px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.contact > p {
  font-size: 1rem;
  font-weight: 400;
}

.close {
  cursor: pointer;
}

.btn-create,
.btn-login {
  font-size: 1rem;
}

.btn-create {
  background-color: var(--main-color) !important;
  color: white !important;
}
.btn-create:hover {
  border: 1px solid var(--main-color) !important;
}
.btn-login {
  border: 1px solid var(--main-color) !important;
}
.btn-login:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}

.search input {
  width: 57%;
  background-color: #eeeeee;
  border: none;
}

.search-icon {
  position: absolute;
  right: 15px;
  font-size: 20px;
}

.notification {
  font-size: 1.5rem;
  cursor: pointer;
}

/* .notification::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  right: 7px;
  top: 10px;
  border: 2px solid white;
} */
.notification-body {
  width: 80%;
  margin: auto;
  position: relative;
  top: 30px;
  /* transform: translateY(-50%); */
}
@media (max-width: 800px) {
  .notification-body {
    width: 100%;
  }
}
.notification-body hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.notification-body .new p::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.6);
  width: 10px;
  height: 100%;
  border-radius: 50px;
}

.notification-body .old p::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: gray;
  width: 10px;
  height: 100%;
  border-radius: 50px;
}

.notification-body .old h3 {
  color: gray;
}

.contact {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .search input {
    width: 45%;
  }
}

@media only screen and (max-width: 992px) {
  .search input {
    width: 30%;
  }
  .search input::placeholder {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 767.2px) {
  .contact {
    margin-right: auto;
    position: absolute !important;
    top: -0px;
    left: 13px;
  }
  .search {
    margin-right: auto;
  }
}
.uio {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
@media(max-width:800px){
  .uio{
    width: 100%;
  }
}
